html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ceddf5;
}
.header-menu{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height:5vw;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.42);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.42);
}
hr{
    border-top: 1px dotted red;
  }
ul{
    overflow: hidden;
    margin: 0;
    margin-right: 10%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}
li a {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
    border-bottom: 0.1vw solid black;
}
.isi-konten{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile{
    width: 80%;
    height: 30%;
    display: flex;
    background-color: #fff;
    flex-direction: row;
    border-radius: 1vw;
}
.avatar{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.profil{
    width: 55%;
    height: 100%;
    display: flex;
    /* box-shadow: -4px 3px 12px -1px rgba(0,0,0,0.54);
    -webkit-box-shadow: -4px 3px 12px -1px rgba(0,0,0,0.54);
    -moz-box-shadow: -4px 3px 12px -1px rgba(0,0,0,0.54); */
}
.image-profile{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pas-foto{
    border-radius: 50%;
    height: 48%;
    width: 50%;
}
.info-profile{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-name{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-profile{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.form{
    width: 80%;
    height: 60%;
    display: flex;
    margin-top: 2%;
    background-color: #fff;
    flex-direction: row;
    border-radius: 1vw;
}
.button-resume{
    height: 50%;
    width: 45%;
    border-radius: 0.5vw;
    border: 0.2vw solid white;
    background-color: #12deec;
}
.button-kontak{
    height: 50%;
    width: 45%;
    border-radius: 0.5vw;
    border: 0.2vw solid white;
    background-color: #30f161;
}
.button-resume:active,
.button-kontak:active{
    background-color: #7aa6ec;
}
.formField{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
}​
#buttonsubmit { 
    margin-top: 1vw;
    border: 0;
    border-radius: 1vw;
    background-color: rgba(80, 235, 126, 0.87);
}